body {
  width: 90%;
  margin: 2rem auto;
  background-color: #193E72;
  color: black; }

.border-block {
  border-radius: 10px;
  padding: 1rem; }

.bgc-white {
  background-color: white; }

.col2d {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 720px) {
    .col2d {
      display: block; } }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  header .left-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    header .left-header .app-logo {
      margin: 0 1rem; }
      header .left-header .app-logo__icon {
        font-size: 3rem;
        color: black; }
      header .left-header .app-logo__text {
        font-size: 1.2rem;
        text-align: center;
        color: black; }
  header .right-header .main-nav ul {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none; }
  header .right-header .main-nav a {
    padding: 0 0.5rem;
    font-size: 1.2rem;
    max-width: 140px;
    font-weight: bold;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    color: black;
    /*&:hover, &:focus {
    	background: #ccc;
    	span {
    	}
    }*/ }
  header .right-header .main-nav span {
    display: block;
    font-size: 0.75rem;
    font-weight: normal;
    margin: 0.25rem 0 0 0; }
  header .right-header .main-nav__icon {
    float: left;
    margin-right: 1rem; }

table {
  border-collapse: collapse; }

td, th {
  border: 1px solid black; }

/*# sourceMappingURL=style.css.map */