header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	& .left-header{
		display: flex;
		& .app-logo{
			margin: 0 1rem;
			&__icon{
				font-size: 3rem;
				color:black;
			}
			&__text{
				font-size: 1.2rem;
				text-align: center;
				color:black;

			}
		}
	}
	& .right-header{
		& .main-nav{
			& ul {
				margin: 0;
				padding: 0;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				list-style: none;
			}
			& a {
				padding: 0 0.5rem;
				font-size: 1.2rem;
				max-width: 140px;
				font-weight: bold;
				text-decoration: none;
				display: flex;
				align-items: flex-start;
				color:black;
				/*&:hover, &:focus {
					background: #ccc;
					span {
					}
				}*/
			}
			& span {
				display: block;
				font-size: 0.75rem;
				font-weight: normal;
				margin: 0.25rem 0 0 0;
			}
			&__icon {
				float: left;
				margin-right: 1rem;
			}
		}
	}
}