body {
	width: 90%;
	margin : 2rem auto;
	background-color: #193E72;
	color: black;
}

.border-block {
	border-radius: 10px;
	padding: 1rem;
}

.bgc-white {
	background-color: white;
}

.col2d {
	display:flex;
	@media screen and (max-width: 720px){
		display: block;
	}
}